/* palakkad page */

h2.title {
    font-size: 45px;
    font-weight: 100;
    color: white;
}

p.ab_para {
    color: white;
    font-size: 1em;
    margin-bottom: 30px;
    width: 85%;
}

.ab_desc {
    position: absolute;
    top: 0;
    left: -15px;
    padding: 30px;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 85%;
}

.ab_desc-inner {
    position: absolute;
    top: 50%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 103%;
}

.ab_desc-inner {
    top: unset;
    left: unset;
    -webkit-transform: unset;
    transform: unset;
    padding: 0px 0 0 0px;
}

p.ab_pr-intro {
    color: white;
    font-size: 1em;
    margin-bottom: 30px;
    width: 85%;
}

p.para {
    color: #355d88;
    font-size: 1.1em;
    margin-right: 2rem;
    width: 100%;
}


/*second section about page */

#bt-main {
    background-color: #eff0f1;
    max-width: 100%;
    height: 100vh;
}

h1.title {
    color: #355D88;
    padding: 3rem;
    font-size: 35px;
    font-weight: 350;
}

p.para1 {
    color: #355D88;
    font-size: 16px;
    font-weight: 500;
    margin-left: 4rem;
    /* margin-top: 2rem; */
    width: 80%;
    line-height: 1.3em;
}

.img1 {
    width: 70%;
    margin-top: 0rem;
}

.img2 {
    width: 68%;
    margin-left: 7rem;
    position: relative;
}

p.para2 {
    color: #355D88;
    font-size: 16px;
    font-weight: 500;
    margin-left: 0%;
    margin-top: 5rem;
    width: 80%;
    text-align: right;
    line-height: 1.3em;
}

.board1 {
    color: #ffff;
    text-align: center;
    background: #355D88 !important;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    max-width: 65%;
    height: 5rem;
    text-transform: unset;
    position: absolute;
    width: 25rem;
    bottom: -21px;
    left: -100px;
}

.board2 {
    color: #ffff;
    text-align: center;
    background: #355D88 !important;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    max-width: 65%;
    height: 5rem;
    text-transform: unset;
    position: absolute;
    width: 25rem;
    bottom: -24px;
    right: -44px;
}

.name {
    color: #ffff;
}

.designation {
    font-size: 13px;
    font-weight: 400;
    padding: .5rem;
}

.icon {
    margin-top: 2rem;
    margin-left: 5rem;
}

.section1 {
    position: relative;
}

.section2 {
    position: relative;
}


/*Smartphones*/

@media screen and (max-width: 768px) {
    .ab_desc {
        right: 0;
        left: -15px;
        width: 70%;
        padding: 60px 30px 30px 60px;
    }
    #wrapper {
        width: 74%;
    }
    p.para {
        color: #355D88;
        font-size: 1em;
        font-weight: 500;
    }
    h1.title {
        font-size: 24px;
        font-weight: 350;
    }
    #bt-hero .flexslider .slider-text>.slider-text-inner p.ab_pr-intro,
    #bt-hp-projects .flexslider .slider-text>.slider-text-inner p.ab_pr-intro {
        font-size: 14px;
        text-align: left;
    }
    #bt-hero .flexslider .slider-text>.slider-text-inner,
    #bt-hp-projects .flexslider .slider-text>.slider-text-inner {
        text-align: left;
    }
    #bt-hero .flexslider .slides li.ab_bt-hp-banner-1,
    #bt-hp-projects .flexslider .slides li.ab_bt-hp-banner-1 {
        background-position: 80% center;
    }
}


/* tablet */

@media screen and (max-width: 992px) {
    .ab_desc {
        right: 0;
        left: -15px;
        width: 70%;
        padding: 18px 14px 16px 6px;
    }
    p.para {
        font-size: 1em;
        text-align: left;
    }
    #wrapper {
        max-width: 437px;
    }
    #bt-hero .flexslider .slider-text>.slider-text-inner .desc .ab_desc-inner.top,
    #bt-hp-projects .flexslider .slider-text>.slider-text-inner .desc .ab_desc-inner {
        padding: 0px;
    }
    #bt-hero .flexslider .slider-text>.slider-text-inner .desc .ab_desc-inner,
    #bt-hp-projects .flexslider .slider-text>.slider-text-inner .desc .ab_desc-inner {
        text-align: left;
    }
    #bt-hero .flexslider .slider-text>.slider-text-inner .desc .ab_desc-inner,
    #bt-hp-projects .flexslider .slider-text>.slider-text-inner .desc .ab_desc-inner {
        left: 58%;
    }
}

@media screen and (max-width: 992px) {
    #bt-hero .flexslider .slider-text>.slider-text-inner .desc .ab_desc-inner.top,
    #bt-hp-projects .flexslider .slider-text>.slider-text-inner .desc .ab_desc-inner.top {
        padding: 0;
    }
}

@media screen and (max-width: 992px) {
    #bt-hero .flexslider .slider-text>.slider-text-inner .desc .ab_desc-inner,
    #bt-hp-projects .flexslider .slider-text>.slider-text-inner .desc .ab_desc-inner {
        text-align: left;
    }
}

@media screen and (max-width: 370px) {
    #bt-hero .flexslider .slider-text>.slider-text-inner .desc .ab_desc-inner,
    #bt-hp-projects .flexslider .slider-text>.slider-text-inner .desc .ab_desc-inner {
        left: 58%;
    }
}

@media screen and (max-width: 992px) {
    p.para1 {
        color: #355D88;
        font-size: 16px;
        font-weight: 500;
        margin-left: 4rem;
        /* margin-top: 2rem; */
        width: 86%;
    }
    p.para2 {
        width: 86%;
    }
    #bt-main {
        background-color: #eff0f1;
        max-width: 100%;
        height: 200%;
    }
    .section1 {
        margin-left: 29%;
    }
    .section2 {
        margin-right: 25%;
        margin-top: 10%
    }
}

@media screen and (max-width: 1200px) {
    .bt_line {
        width: 30px;
        height: 3px;
        background-color: #000;
        display: block;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
}