                    /*Smartphones*/
                    
                    @media screen and (max-width: 768px) {
                        #bt-hero .flexslider .slides li.bt-hp-banner-1,
                        #bt-hp-projects .flexslider .slides li.bt-hp-banner-1 {
                            background-position: 80%, 0;
                        }
                        #bt-hero .flexslider .slides li.bt-hp-banner-3,
                        #bt-hp-projects .flexslider .slides li.bt-hp-banner-3 {
                            background-position: 29% center;
                        }
                        #bt-hero .flexslider .slides li.bt-prj-2,
                        #bt-hp-projects .flexslider .slides li.bt-prj-2 {
                            background-position: 60% center;
                        }
                        #bt-hero .flexslider .slides li.bt-prj-4,
                        #bt-hp-projects .flexslider .slides li.bt-prj-4 {
                            background-position: 77% center;
                        }
                        #bt-hero .flexslider .slider-text>.slider-text-inner p.pr-intro,
                        #bt-hp-projects .flexslider .slider-text>.slider-text-inner p.pr-intro {
                            font-size: 13px;
                            text-align: left;
                        }
                        #bt-hero .flexslider .slider-text>.slider-text-inner .desc,
                        #bt-hp-projects .flexslider .slider-text>.slider-text-inner .desc {
                            width: 70%;
                            padding: 30px;
                        }
                        #wrapper {
                            width: 74%;
                        }
                        p.para {
                            color: #355D88;
                            font-size: 1em;
                            font-weight: 500;
                            margin-top: 5rem;
                            width: 69%;
                            height: 50%;
                        }
                    }
                    /* tablet */
                    
                    @media screen and (max-width: 992px) {
                        #bt-hero .flexslider .slider-text>.slider-text-inner .desc,
                        #bt-hp-projects .flexslider .slider-text>.slider-text-inner .desc {
                            right: 0;
                            left: -15px;
                            width: 50%;
                            padding: 60px 30px 30px 60px;
                        }
                        p.para {
                            font-weight: 500;
                            margin-top: 2rem;
                            width: 100%;
                        }
                        #wrapper {
                            max-width: 437px;
                        }
                    }
                    
                    p.para {
                        color: #355D88;
                        font-size: 18px;
                        font-weight: 500;
                        margin-right: 2rem;
                        width: 100%;
                    }
                    
                    #bt-main {
                        background-color: #eff0f1;
                        max-width: 100%;
                    }
                    
                    h1 {
                        color: #355D88;
                        padding: 3rem;
                        font-size: 35px;
                        font-weight: 250;
                    }
                    
                    section {
                        margin-top: 10rem;
                    }
                    
                    #wrapper {
                        max-width: 410px;
                        margin: 60px auto 60px auto;
                        background-color: #eff0f1;
                        margin-left: 3rem;
                        margin-top: 1rem;
                    }
                    
                    #outer {
                        display: table;
                        width: 100%;
                        table-layout: fixed;
                    }
                    
                    .itemwrapper {
                        display: table-cell;
                        vertical-align: top;
                        width: 100%;
                    }
                    
                    img {
                        max-width: 100%;
                        height: auto;
                    }
                    /*second section about page */
                    
                    @media screen and (max-width: 992px) {
                        p.para1,
                        p.para2 {
                            width: 50%;
                        }
                    }
                    
                    p.para1 {
                        color: #355D88;
                        font-size: 16px;
                        font-weight: 500;
                        margin-left: 7rem;
                        margin-top: 2rem;
                        width: 100%;
                    }
                    
                    .img1 {
                        width: 23rem;
                        margin-left: 10rem;
                        margin-top: -5rem;
                    }
                    
                    .img2 {
                        width: 23rem;
                        margin-left: 7rem;
                    }
                    
                    p.para2 {
                        color: #355D88;
                        font-size: 16px;
                        font-weight: 500;
                        margin-left: -17rem;
                        margin-top: 2rem;
                        width: 100%;
                    }
                    
                    .tab-head1 {
                        font-family: "Fira Sans", sans-serif;
                        font-size: 1.1em;
                        display: inline-block;
                        width: 37%;
                        height: 27%;
                        margin-top: -10rem;
                        background-color: rgba(53, 93, 136, 0.6);
                        color: #fff;
                        text-align: center;
                        border-top-right-radius: 15px;
                        border-bottom-left-radius: 15px;
                        cursor: pointer;
                    }
                    
                    .tab-head2 {
                        font-family: "Fira Sans", sans-serif;
                        font-size: 1.1em;
                        display: inline-block;
                        width: 37%;
                        height: 21%;
                        margin-left: 27rem;
                        margin-top: -4rem;
                        background-color: rgba(53, 93, 136, 0.6);
                        color: #fff;
                        text-align: center;
                        border-top-right-radius: 15px;
                        border-bottom-left-radius: 15px;
                        cursor: pointer;
                    }